<% model_class = TimePeriod %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.time_period', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @time_period,
          show_path: admin_time_period_path(@time_period),
          index_path: admin_time_periods_path
                }
  %>
</div>

<%= render partial: 'form' %>
