<% model_class = Country %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.country', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @country,
          show_path: admin_country_path(@country),
          index_path: admin_countries_path
                }
  %>
</div>

<%= render partial: 'form' %>
