@import 'fonts';
@import 'main_bootstrap';
@import 'enet_nav';
@import 'reset';

*::-webkit-scrollbar-track {
  background-color: #fff;
}
*::-webkit-scrollbar {
  height: 8px;
  width:8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: 2px solid #fff;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
  border: 2px solid #fff;
  cursor: pointer;
}

* { margin:0; padding:0; box-sizing: border-box; } /* to remove the top and left whitespace */
html, body {
  width:100%;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} /* just to be sure these are full screen*/
html {
  font-size: 62.5%;
  touch-action: manipulation;
}
body {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
a, a:hover, a:focus, a:active, a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #111111;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.desktop { display: none; }
.disabled {
  cursor: not-allowed;
  opacity: .4;
}
.text {
  font-family: FFTisaWeb;
  font-size: 1.6rem;
  line-height: 1.38;
  text-align: left;
  color: #111111;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    .nav-brief {
      // display: flex;
      // flex-direction: column;
      // padding: 30px 20px 0;
      padding: 80px 20px 0;
      .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      .nav-slogan {
        padding: 30px 0 39px 0;
        font-family: ProximaNova-Medium;
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: left;
        color: #111111;
        p {
          max-width: 75%;
        }
      }
    }
    .up {
      text-align: right;
      padding: 0 20px 0;
      a {
        display: inline-block;
        background-color: #1090ff;
        box-shadow: 0 5px 20px 0 #00000029;
        padding: 18px 0 8px;
        img {
          display: block;
          padding: 0 16px 10px;
        }
        span {
          display: block;
          font-family: ProximaNova-Black;
          font-size: 1.2rem;
          line-height: 1.33;
          text-align: center;
          color: #ffffff;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
  }
}
.index {
  main {
    aside {
      padding: 0 20px 0;
      .period-bar {
        padding: 0 0 2px;
        .period-bar-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
        }
        label {
          display: block;
          padding: 0 0 6px 0;
          font-family: ProximaNova-Black;
          font-size: 1.2rem;
          line-height: 1.33;
          text-align: left;
          color: #111111;

        }
        .current-period {
          padding: 0 18px;
          a {
            font-family: ProximaNova-Medium;
            font-size: 1.6rem;
            line-height: 1.38;
            text-align: left;
            color: #111111;
          }
        }
        .previous-period, .next-period {
          width: 44px;
          height: 32px;
          position: relative;
          display: block;
          a {
            width: 44px;
            height: 32px;
            position: relative;
            display: block;
          }
          img {
            position: absolute;
            top: -6px;
            left: 6px;
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  article {
    flex: 1;
    // overflow-y: auto;
    padding: 0 10px;

    .country {
      display: inline-block;
      width: 100%;
      padding: 20px 0 0 0;
      vertical-align: top;
      .country-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(50%);
        h2 {
          padding: 0 12px 0 0;
          font-family: ProximaNova-Black;
          font-size: 2rem;
          line-height: 1.4;
          text-align: left;
          color: #111111;
        }
        .flag {
          margin: 0 50px 0 0;
        }
        .arrow {
          display: none;
        }
        &:hover {
          h2 {
            color: #1090ff;
          }
          .arrow {
            display: initial;
          }
        }
      }
      .country-story {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
        background-color: #fafaff;
        box-sizing: border-box;
        min-height: 250px;
        padding: 50px 0 32px;
        &.empty{
          background-image: image-url('nostory.svg');
          background-repeat: no-repeat;
          background-position: right bottom;
        }
        .story-title {
          padding: 0 20px 16px;
          font-family: ProximaNova-Black;
          font-size: 1.6rem;
          line-height: 1.38;
          text-align: left;
          color: #111111;
        }
        .story-text {
          padding: 0 20px 0;
          flex: 1;
          font-family: FFTisaWeb;
          font-size: 1.4rem;
          line-height: 1.5;
          text-align: left;
          color: #666;
        }
        .story-nostory {
          padding: 0 20px 0;
          flex: 1;
          font-family: ProximaNova-Black;
          font-size: 3rem;
          line-height: 1.43;
          text-align: left;
          color: #1090ff;
          opacity: 0.2;

        }
        .story-readmore {
          padding: 16px 20px 0;
          a {
            font-family: ProximaNova-Medium;
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: left;
            color: #1090ff;
          }
        }
      }
    }
  }
}
.country {
  .country-map {
    .map {
      pointer-events: none;
      width: 100%;
      height: 208px;
      z-index: 1;
    }
  }
  header {
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .countries-popup-toggle {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #1090ff;
      }
    }
    h1 {
      padding: 0 0 0 10px;
      font-family: ProximaNova-Black;
      font-size: 4rem;
      line-height: 1.4;
      text-align: left;
      color: #1090ff;
    }
  }
  .country-profile {
    // display: flex;
    // flex-direction: row;
    background-color: #266097;
    box-shadow: 0 0 10px 0 #0000001a;
    position: relative;
    z-index: 2;
    .stats, .leader {
      display: inline-block;
      width: 50%;
    }
    .stats {
      ul {
        padding: 20px 20px 0;
      }
      .flag {
        padding: 0 0 16px 0;
      }
      li:not(:first-of-type) {
        padding: 0 0 20px 0;
      }
      .next-country {
        display: none;
      }
    }
    .leader {
      position: relative;
      top: -35px;
      // flex: 1;
      background-color: #1090ff;
      box-shadow: 0 0 10px 0 #0000001a;
      vertical-align: top;
      ul {
        padding: 30px 10px 11px;
      }
      .leader-name {
        padding: 0 10px 21px;
      }
    }
    ul li {
      font-family: ProximaNova-Medium;
      font-size: 1.6rem;
      line-height: 1.38;
      text-align: left;
      color: #ffffff;
      strong, strong a {
        display: block;
        font-family: ProximaNova-Black;
        font-size: 1.6rem;
        line-height: 1.38;
        text-align: left;
        color: #ffffff;
      }

    }
  }
  .stories {
    padding: 35px 20px 0;
    .story {
      &:not(:last-of-type) {
        padding: 0 0 40px 0;
      }
    }
    .story-title {
      font-family: ProximaNova-Black;
      font-size: 1.8rem;
      line-height: 1.5;
      text-align: left;
      color: #111111;
      padding: 0 0 10px 0;
    }
    .story-date {
      font-family: ProximaNova-Medium;
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: left;
      color: #111111;
    }
    .story-row {
      display: flex;
      flex-direction: row;
    }
    .story-image {
      padding: 0 15px 0 0;
    }
    .story-text {
      font-family: ProximaNova-Medium;
      font-size: 1.6rem;
      line-height: 1.38;
      text-align: left;
      color: #111111;
      padding: 14px 0;
    }
    .story-readmore a {
      font-family: ProximaNova-Medium;
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: left;
      color: #1090ff;
    }
  }
  .countries-popup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    .bg {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
    }
    .content {
      background-color: #ffffff;
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
      .countries-list {
        max-height: 100%;
        padding: 20px;
        overflow-y: auto;
      }
    }
    &.open {
      display: block;

    }
  }
}
.about {
  .app {
    background-image: image-url('bgmap.png');
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: cover;
  }
  article {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    // max-height: 100%;
    // flex: 1;
    // padding: 90px 0 0;
    h1 {
      display: inline-block;
      font-family: ProximaNova-Black;
      font-size: 4rem;
      line-height: 1.18;
      text-align: left;
      color: #111111;
      padding: 0 0 30px 0;
      // padding: 0 25px 0 0;
    }
    .arrow-wrapper {
      display: none;
    }
    section {
      // flex: 1;
      // height: 100%;
      &.section-fixed {
        // width: 37.5%;
        // position: relative;
        // z-index: 3;
        // padding: 138px 0 0 0;

      }
      &.section-scroll {
        // width: 50%;
        // overflow-y: auto;

        h2 {
          font-family: ProximaNova-Black;
          font-size: 2rem;
          line-height: 1.35;
          color: #1090ff;
        }
        p {
          font-family: ProximaNova-Medium;
          font-size: 1.8rem;
          line-height: 1.5;
          text-align: left;
          color: #111111;
          padding: 30px 0 0 0;
        }
      }
    }
  }
}

.countries-list {
  // max-height: 100%;
  // // padding: 20px;
  // overflow-y: auto;
  ul {
    li {
      padding: 0 0 22px 0;
      a {
        font-family: ProximaNova-Medium;
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: left;
        color: #111111;
      }
      &.active a {
        padding: 0 0 0 22px;
        font-family: ProximaNova-Black;
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: left;
        color: #1090ff;
      }
    }
  }
}
.next-country {
  display: block;
  padding: 38px 25px 36px 25px;
  background-color: #111111;
  box-shadow: 0 0 10px 0 #0000001a;
  font-family: ProximaNova-Medium;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    > div:first-of-type {
      flex: 1;
    }
  }
  strong {
    display: block;
    font-family: ProximaNova-black;
  }
}

@media(min-width:500px){
  .app {
    main {
      .nav-brief {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        .nav-slogan {
          padding: 0 0 39px 40px;
        }
      }
    }
  }
}
@media(min-width:576px){}
@media (min-width: 768px) {}
@media(min-width:992px){
  .app {
    main {
      .up {
        padding: 0 40px 0;
      }
    }
  }
  .index {
    article {
      .country {
        width: 50%;
        padding: 20px 20px 0 0;
      }
    }
  }
}
@media(min-width:1200px){
  .desktop {
    display: block;
    padding-left: 5px;
  }
  .other { display: none; }
  .app {
    overflow: hidden;
    main {
      overflow: hidden;
      .nav-brief {
        padding: 80px 20px 20px 0;
        .nav-bar {
          width: 12.5%;
        }
        .nav-slogan {
          padding: 0;
          width: 37.5%;
          p {
            max-width: 100%;
          }
        }
      }
    }
  }

  aside {
    width: 135px;
    padding: 250px 0 0;
    max-height: 100%;
    overflow-y:auto;
  }
  main {
    background-image:
      url(bg.png),
      url(bg.png),
      url(bg.png),
      url(bg.png),
      url(bg.png),
      url(bg.png),
      url(bg.png),
      url(bg.png);
    background-repeat: repeat-y;
    background-position: 0% top, 12.5% top, 25% top, 37.5% top, 50% top, 62.5% top, 75% top, 87.5% top;
    // height: 100%;
    article {
      // overflow: hidden;
        height: 100%;
        overflow-y: auto;
      .section-scroll {
      }
    }

  }
  .index {
    aside {
      .period-bar {
        .period-bar-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        label {
          display: block;
          padding-bottom: 15px;
          font-family: ProximaNova-Black;
          font-size: 1.2rem;
          line-height: 1.33;
          text-align: center;
          color: #111111;
          letter-spacing: 1px;
        }
        .current-period {
          padding: 18px 0;
          a {
            font-family: ProximaNova-Medium;
            font-size: 1.6rem;
            line-height: 1.38;
            text-align: center;
            color: #111111;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            white-space: nowrap;
            padding-right: 10px;
          }
        }
      }
    }
    main {
      article {
        padding: 0 0;
        position: relative;
        // left: -10px;
        .country {
          width: 25%;
          padding: 0px 20px 0 0;
          .country-story {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
  .country {
    article {
      display: flex;
      flex-direction: row;
      max-height: 100%;
      flex: 1;
      // position: relative;
      header {
        position: absolute;
        // left: 40px;
        z-index: 4;
        padding: 0;
        h1 {
          padding: 0;
          color: #fff;
          span {
            color: #1090ff;
          }
        }
        .countries-popup-toggle {
          display: none;
        }
      }
      section {
        flex: 1;
        height: 100%;
        &.section-fixed {
          position: relative;
          z-index: 3;

        }
        &.section-scroll {
          overflow-y: auto;
        }
      }
    }
    .country-map {
      width: 100%;
      height: 100%;
      .map {
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
    .country-profile {
      background-color: rgba(38, 96, 151, .8);
      position: absolute;
      top: 0;
      right: 3%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .stats {
        flex: 1;
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: column;
        ul {
          flex: 1;
        }
        .next-country {
          display: initial;
        }
      }
      .leader {
        width: 100%;
        top: 0;
        order: 1;
        .next-country {
          display: none;
        }
      }
    }
  }
  .about {
    .app {
      background-image: image-url('bgmap.png');
      background-repeat: no-repeat;
      background-position: 10% 50%;
      background-size: initial;
    }
    article {
      display: flex;
      flex-direction: row;
      max-height: 100%;
      flex: 1;
      padding: 90px 0 0;
      h1 {
        display: inline-block;
        font-family: ProximaNova-Black;
        font-size: 4rem;
        line-height: 1.18;
        text-align: left;
        color: #111111;
        padding: 0 25px 0 0;
      }
      .arrow-wrapper {
        display: inline-block;
        background-color: #1090ff;
        box-shadow: 0 5px 20px 0 #00000029;
        padding: 14px 20px 14px 57px;
        vertical-align: top;
        margin: 2px 0 0 0;
      }
      section {
        // flex: 1;
        height: 100%;
        &.section-fixed {
          width: 37.5%;
          position: relative;
          z-index: 3;
          padding: 138px 0 0 0;

        }
        &.section-scroll {
          width: 50%;
          overflow-y: auto;

          h2 {
            font-family: ProximaNova-Black;
            font-size: 2rem;
            line-height: 1.35;
            color: #1090ff;
          }
          p {
            font-family: ProximaNova-Medium;
            font-size: 1.8rem;
            line-height: 1.5;
            text-align: left;
            color: #111111;
            padding: 30px 0 0 0;
          }
        }
      }
    }
  }
}
