<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="brand" href="https://russian.eurasianet.org/">
           <%= image_tag "logo.svg" %>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="glyphicon glyphicon-th"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#" class="regions-menu-toggle">Регионы <span class="caret"></span></a></li>
          <li><a href="#" class="topics-menu-toggle">Темы <span class="caret"></span></a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle more-menu-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Прочее <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://russian.eurasianet.org/visual-stories">Фотоэссе</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://russian.eurasianet.org/about/mission">О нас</a></li>
          </ul>
        </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input id="search-input" class="form-control" placeholder="Поиск" type="text">
            <div class="search-suggester">
              <ul class="search-suggester--list search-suggester--author"></ul>
              <ul class="search-suggester--list search-suggester--region"></ul>
            </div>
          </div>
          <button type="submit" id="search-submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'English', root_path(:en) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="regions-menu">
 <a class="close-menu" href="#">X</a>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <h4>Кавказ</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/region/%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F">Армения</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%90%D0%B7%D0%B5%D1%80%D0%B1%D0%B0%D0%B9%D0%B4%D0%B6%D0%B0%D0%BD">Азербайджан</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%93%D1%80%D1%83%D0%B7%D0%B8%D1%8F">Грузия</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Центральная Азия</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/region/%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD">Казахстан</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9A%D1%8B%D1%80%D0%B3%D1%8B%D0%B7%D1%81%D1%82%D0%B0%D0%BD">Кыргызстан</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A2%D0%B0%D0%B4%D0%B6%D0%B8%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD">Таджикистан </a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A2%D1%83%D1%80%D0%BA%D0%BC%D0%B5%D0%BD%D0%B8%D1%81%D1%82%D0%B0%D0%BD">Туркменистан</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD">Узбекистан</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Восточная Европа</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/region/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F">Россия</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9F%D1%80%D0%B8%D0%B1%D0%B0%D0%BB%D1%82%D0%B8%D0%BA%D0%B0">Прибалтика</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C">Беларусь</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9C%D0%BE%D0%BB%D0%B4%D0%BE%D0%B2%D0%B0">Молдова</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0">Украина</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Другие регионы</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/region/%D0%9A%D0%B8%D1%82%D0%B0%D0%B9">Китай</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A2%D1%83%D1%80%D1%86%D0%B8%D1%8F">Турция</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%98%D1%80%D0%B0%D0%BD">Иран</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%90%D1%84%D0%B3%D0%B0%D0%BD%D0%B8%D1%81%D1%82%D0%B0%D0%BD">Афганистан</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%91%D0%BB%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9%20%D0%92%D0%BE%D1%81%D1%82%D0%BE%D0%BA">Ближний Восток</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%A1%D0%A8%D0%90">США</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%95%D0%B2%D1%80%D0%BE%D1%81%D0%BE%D1%8E%D0%B7">Евросоюз</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%AE%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%90%D0%B7%D0%B8%D1%8F">Южная Азия</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9C%D0%BE%D0%BD%D0%B3%D0%BE%D0%BB%D0%B8%D1%8F">Монголия</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Зоны конфликтов</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/region/%D0%92%D0%BE%D1%81%D1%82%D0%BE%D0%BA%20%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B">Восток Украины</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9A%D1%80%D1%8B%D0%BC">Крым</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%90%D0%B1%D1%85%D0%B0%D0%B7%D0%B8%D1%8F">Абхазия</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9F%D1%80%D0%B8%D0%B4%D0%BD%D0%B5%D1%81%D1%82%D1%80%D0%BE%D0%B2%D1%8C%D0%B5">Приднестровье</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%9D%D0%B0%D0%B3%D0%BE%D1%80%D0%BD%D1%8B%D0%B9%20%D0%9A%D0%B0%D1%80%D0%B0%D0%B1%D0%B0%D1%85">Нагорный Карабах</a></li>
          <li><a href="https://russian.eurasianet.org/region/%D0%AE%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%9E%D1%81%D0%B5%D1%82%D0%B8%D1%8F">Южная Осетия</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="topics-menu">
 <a class="close-menu" href="#">X</a>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <h4>Политика</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%B0%20%D0%BF%D0%B5%D1%87%D0%B0%D1%82%D0%B8%3C">Свобода печати</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%92%D1%8B%D0%B1%D0%BE%D1%80%D1%8B">Выборы</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%90%D0%B2%D1%82%D0%BE%D1%80%D0%B8%D1%82%D0%B0%D1%80%D0%B8%D0%B7%D0%BC">Авторитаризм</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9A%D1%83%D0%BB%D1%8C%D1%82%20%D0%BB%D0%B8%D1%87%D0%BD%D0%BE%D1%81%D1%82%D0%B8">Культ личности</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9C%D1%8F%D0%B3%D0%BA%D0%B0%D1%8F%20%D1%81%D0%B8%D0%BB%D0%B0">Мягкая сила</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%92%D0%BD%D0%B5%D1%88%D0%BD%D1%8F%D1%8F%20%D0%BF%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0">Внешняя политика</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%92%D0%B5%D1%80%D1%85%D0%BE%D0%B2%D0%B5%D0%BD%D1%81%D1%82%D0%B2%D0%BE%20%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%B0">Верховенство закона</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%94%D0%B8%D1%81%D1%81%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%8B">Диссиденты</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%90%D0%BD%D1%82%D0%B8%D0%BB%D0%B8%D0%B1%D0%B5%D1%80%D0%B0%D0%BB%D0%B8%D0%B7%D0%BC">Антилиберализм</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9F%D1%80%D0%BE%D0%BF%D0%B0%D0%B3%D0%B0%D0%BD%D0%B4%D0%B0">Пропаганда</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9F%D1%80%D0%B0%D0%B2%D0%B0%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0">Права человека</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9D%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D1%81%D0%B0%D0%BC%D0%BE%D1%81%D0%BE%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B5">Национальное самосознание</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Экономика</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/topic/%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81">Бизнес</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%98%D0%BD%D0%B2%D0%B5%D1%81%D1%82%D0%B8%D1%86%D0%B8%D0%B8">Инвестиции</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%91%D0%B0%D0%BD%D0%BA%D0%B8%20%D0%B8%20%D1%84%D0%B8%D0%BD%D0%B0%D0%BD%D1%81%D1%8B">Банки и финансы</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%98%D0%BD%D0%BD%D0%BE%D0%B2%D0%B0%D1%86%D0%B8%D0%B8%20%D0%B8%20%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8">Инновации и технологии</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82">Интернет</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A2%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%B0%D1%80%D0%B5%D0%BD%D1%82%D0%BD%D0%BE%D1%81%D1%82%D1%8C">Транспарентность</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B5%20%D1%85%D0%BE%D0%B7%D1%8F%D0%B9%D1%81%D1%82%D0%B2%D0%BE">Сельское хозяйство</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%98%D0%BD%D0%B8%D1%86%D0%B8%D0%B0%D1%82%D0%B8%D0%B2%D0%B0%20%C2%AB%D0%9E%D0%B4%D0%B8%D0%BD%20%D0%BF%D0%BE%D1%8F%D1%81,%20%D0%BE%D0%B4%D0%B8%D0%BD%20%D0%BF%D1%83%D1%82%D1%8C%C2%BB">Инициатива «Один пояс, один путь»</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A8%D0%9E%D0%A1">ШОС</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%95%D0%90%D0%AD%D0%A1">ЕАЭС </a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9D%D0%B5%D1%84%D1%82%D1%8C%20%D0%B8%20%D0%B3%D0%B0%D0%B7">Нефть и газ</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%93%D0%BE%D1%80%D0%BD%D0%BE%D0%B4%D0%BE%D0%B1%D1%8B%D0%B2%D0%B0%D1%8E%D1%89%D0%B0%D1%8F%20%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D1%8C">Горнодобывающая промышленность</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Общество</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/topic/%D0%94%D0%B8%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%8B">Диаспоры</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A0%D0%B5%D0%BB%D0%B8%D0%B3%D0%B8%D1%8F">Религия</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9C%D0%B5%D0%BD%D1%8C%D1%88%D0%B8%D0%BD%D1%81%D1%82%D0%B2%D0%B0">Меньшинства</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9C%D0%B5%D0%B6%D0%BD%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BE%D1%82%D0%BD%D0%BE%D1%88%D0%B5%D0%BD%D0%B8%D1%8F">Межнациональные отношения</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A6%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8">Ценности</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9F%D1%80%D0%B0%D0%B2%D0%B0%20%D0%B6%D0%B5%D0%BD%D1%89%D0%B8%D0%BD">Права женщин</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9B%D0%93%D0%91%D0%A2">ЛГБТ</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%9C%D0%98">СМИ</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D1%81%D0%B5%D1%82%D0%B8">Социальные сети</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%AF%D0%B7%D1%8B%D0%BA%D0%B8">Языки</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0%20%D0%B8%20%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%BE">Культура и искусство</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5">Образование</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9D%D0%B0%D1%83%D0%BA%D0%B0">Наука</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%97%D0%B0%D1%89%D0%B8%D1%82%D0%B0%20%D0%BE%D0%BA%D1%80%D1%83%D0%B6%D0%B0%D1%8E%D1%89%D0%B5%D0%B9%20%D1%81%D1%80%D0%B5%D0%B4%D1%8B">Защита окружающей среды</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D0%BE%D0%BE%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5">Здравоохранение</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%96%D0%B8%D0%B7%D0%BD%D1%8C%20%D0%B2%20%D0%B3%D0%BB%D1%83%D0%B1%D0%B8%D0%BD%D0%BA%D0%B5">Жизнь в глубинке</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9F%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D1%8B%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%BE%D0%B2">Проблемы городов</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D1%80%D0%B5%D0%B4%D0%BF%D1%80%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE">Социальное предпринимательство</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Безопасность</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A0%D0%B0%D0%B4%D0%B8%D0%BA%D0%B0%D0%BB%D0%B8%D0%B7%D0%BC">Радикализм </a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A2%D0%BE%D1%80%D0%B3%D0%BE%D0%B2%D0%BB%D1%8F%20%D0%BD%D0%B0%D1%80%D0%BA%D0%BE%D1%82%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8">Торговля наркотиками</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9A%D0%BE%D0%BD%D1%84%D0%BB%D0%B8%D0%BA%D1%82%D1%8B">Конфликты</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9E%D0%94%D0%9A%D0%91">ОДКБ</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9D%D0%90%D0%A2%D0%9E">НАТО</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A7%D0%B5%D1%80%D0%BD%D0%BE%D0%B5%20%D0%BC%D0%BE%D1%80%D0%B5">Черное море</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9A%D0%B0%D1%81%D0%BF%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B5%20%D0%BC%D0%BE%D1%80%D0%B5">Каспийское море</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%AD%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D0%BA%D0%B0">Энергетика</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A2%D0%BE%D1%80%D0%B3%D0%BE%D0%B2%D0%BB%D1%8F%20%D0%BE%D1%80%D1%83%D0%B6%D0%B8%D0%B5%D0%BC">Торговля оружием</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0%20%D0%B2%D0%BE%D0%B5%D0%BD%D0%BD%D1%8B%D1%85%20%D0%B1%D0%B0%D0%B7">Политика военных баз</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Научные исследования</h4>
        <ul>
          <li><a href="https://russian.eurasianet.org/topic/%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F">История</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%95%D1%81%D1%82%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BD%D0%B0%D1%83%D0%BA%D0%B8">Естественные науки</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%AD%D0%BA%D0%BE%D0%BD%D0%BE%D0%BC%D0%B8%D0%BA%D0%B0">Экономика</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D0%BE%D1%86%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F">Социология</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%94%D0%B5%D0%BC%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F">Демография</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0">Статистика</a></li>
          <li><a href="https://russian.eurasianet.org/topic/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD%D1%8B">Законы и правоприменение</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
