<nav>
  <div class="nav-bar">
    <%= link_to root_path, tabindex: 1, class: 'nav-logo' do %>
      <%= image_set_tag("logo.png", { 'logo@2x.png'  => '2x' }, alt: t('shared.common.name'), title: t('shared.common.name')) %>
    <% end %>
  </div>
  <div class="nav-slogan"><p><%= t("shared.common.slogan") %></p></div>
</nav>
